@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input, button {
    box-shadow: 5px 5px rgba(0,0,0,0.5);
  }

  input:active, button:active {
    box-shadow: 3px 3px rgba(0,0,0,0.5);
  }
}

body {
  font-family: 'Text Me One', 'Sans Serif';
  padding: 0;
  margin: 0;
  background-color: rgb(214 211 209);
  box-sizing: box-border;
  overflow-x: hidden;
}